$base-font-family: "CircularStd", "Roboto", Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$theme-colors: (
  "primary": #71c8d5,
  "dark": #3d4f5c,
);

// reset bootstrap
@import "bootstrap/scss/bootstrap";
