@import "./_reset";
@import "./_variables";
@import "./_mixins";
@import "./_animations";

@include padding("y", 90);
@include padding("y", 140);
@include padding("y", 172);

.chat-button {
  &.--inactive {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
}

.question-mark,
.lamp-icon {
  -moz-animation: moveIt 2.5s ease-in-out infinite;
  -webkit-animation: moveIt 2.5s ease-in-out infinite;
  animation: moveIt 2.5s ease-in-out infinite;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition:
    opacity 0.6s ease-out,
    transform 1.2s ease-out;
  will-change: opacity, visibility;

  &.--visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

.--hide {
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  opacity: 0;
}
